header {
    height: 130px;
    background: url(../images/banner_mediano.jpg) no-repeat 0px;
}

header a.logo {
    width: 140px;
    height: 70px;
    top: 10px;
    left: 12px;
    background: url(../images/logo_mediano.png) no-repeat;
}

article {
    padding: 30px 20px 10px 20px;
}

nav {
    position: static;
    padding: 10px 0px 10px 0px;
    background-image: url(../images/nav_onda.jpg);
    background-position: top;
    background-repeat: repeat-x;
}

nav a {
    color: #f5cadc;
    display: block;
    margin: 15px;
    padding: 9px;
    border: 1px solid #f5cadc;
    background: url(../images/movil_flecha_link.png) no-repeat right;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

nav a:hover {
    color: #fff;
    background-color: rgb(255, 255, 255, 0.3);
}

.contenedor_desc {
    padding: 10px;
}

.contenedor_desc .desc_c {
    width: 50%;
    float: left;
    background-position: 0px 3px;
    border-top: 2px dotted #24859d;
}

.contenedor_desc .desc_c .contenido {
    padding: 0px 20px 15px 90px;
}

.descripcion_up {
    padding-bottom: 0px;
}